{% extends 'base.html.twig' %}

{% block title %}Serie{% endblock %}

{% block body %}
    <h1>Serie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ serie.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ serie.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_serie_index') }}">back to list</a>

    <a href="{{ path('app_serie_edit', {'id': serie.id}) }}">edit</a>

    {{ include('admin/serie/_delete_form.html.twig') }}
{% endblock %}
